/* Minimal properties */
.bold {
	font-weight: bold;
}

/*General*/
body {
	background-color: #f1f1f1;
	min-height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: center;
}

hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	width: 80%;
	margin: 20px 10%;
}

/* Title */
h1 {
	font-family: 'Glegoo', serif;
	font-size: 2em;
}

/* Form */
form {
	width: 70%;
	margin: 0 15%;
	text-align: center;
}

/* Buttons */
.submit-btn {}